/* global */
* {
  box-sizing: border-box;
}

body {
  padding: 60px 40px;
  background-color: #14213d;
  font-family: 'Roboto', sans-serif;
  color: #aec3b0;
}

/* title */
h1 {
  font-family: 'Inconsolata', monospace;
  color: #eff6e0;
  text-shadow: 0 0 50px #aec3b0;
  font-size: 60px;
  font-weight: 500;
  padding-bottom: 40px;
  text-align: center;
}

/* date picker */
#date-picker-wrap {
  display: flex;
  width: min-content;
  margin: 0 auto 40px;
  border: 2px solid #aec3b0;
}
#date-picker-wrap label,
#date-picker-wrap input {
  padding: 10px;
}
#date-picker-wrap label {
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
  font-weight: 500;
}
#date-picker-wrap input {
  background-color: #aec3b0;
  gap: 5px;
  font-size: 20px;
  text-transform: uppercase;
  border: 0;
}

/* image */
#img-container {
  max-width: min-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
#img-container img {
  max-width: calc(100vw - 80px); /* padding 40*2 */
}
/* caption */
#img-container .caption {
  font-size: 16px;
  line-height: 20px;
}